# Xcode
.DS_Store
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcodeproj/project.xcworkspace/
*.xcodeproj/project.xcworkspace/*
**/project.xcworkspace/

# Build artifacts
build/
DerivedData/
*.o
*.obj
*.pyc
*.pyo
*.swp

# SwiftPM
/.build/
Package.resolved
**/.swiftpm/
# Tuist
Tuist/Dependencies/SwiftPackageManager/.build
Tuist/Dependencies/SwiftPackageManager/Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# SwiftPM Xcode integration
.swiftpm/xcode/package.xcworkspace/
.swiftpm/xcode/xcshareddata/

# Logs
*.log

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Personal settings
*.xcsettings
*.entitlements
*.orig
*.orig.*
